@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/flexbox";
	.top_header{
		//background: url('../img/header.jpg')0 0 no-repeat;
		background-size: cover;
		height: 400px;
		margin-left: -15px;
	    margin-right: -15px;
	    #img_header{
	    	background-size: cover;
	    	width: 100%;
	    	height: 400px;
	    }
	    #logo{
	    	position: absolute;
    	    top: 100px;
    	    left: 0;
    	    right: 0;
    	    margin: 0 auto;
    	    background: rgba(255, 255, 255, 0.59);
    	    border-radius: 40px;
	    }
	}
.topmenu{
	background-color: rgba(0, 0, 0, 0.14);
	text-align: center;
	padding: 5px;
	border-bottom: 3px solid #5474af;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 999;
	#menu{
		margin-top: 20px;
	}
	.contacty{
	color: #003594;
	}
	.sub-menu{
		padding: 0;
		width: 150px;
		li{
			padding: 12px;
		    background: #5474af;
		}
	}
	ul li{
		display: inline-block;
		margin-left: 5px;
			z-index: 2;
		a{
			background: rgba(0, 53, 148, 0.62);
			padding: 15px;
			color: #fff;
			position: relative;
			overflow: hidden;
			line-height: 53px;
			@include border-radius(5px); 	
			@include transition(all 0.4s ease-in);
			&:before{
				content: '';
				opacity: 0;
				width: 100%;
				height: 60%;
				display: block;
				background: rgba(0,53,14,1);
				position: absolute;
				top: 19%;
				left: 0;
				z-index: -1;
				@include transform(rotate(150deg));
				
			}
			&:hover:before{
				opacity: 1;
				@include transform(rotate(0deg));
			
				
			}
			&:hover{
				background: rgba(0, 53, 148, 1);
				@include box-shadow(0 0 0px 5px rgba(0,53,148,1));
			}
		}
	}
}
.navbar-toggle{
	background: #003594;
	z-index: 99999;
	float: left;
	span{
		background: #fff;
	}
}
.page_one{
	h2{
		text-align: center;
		background: #003594;
		padding: 10px 0;
		border-bottom: 3px solid #fff;
		border-top: 3px solid #fff;
		color: #fff;
	}
}
.page_two{
	background: url('../img/bg_korm.png');
	h2{
		text-align: center;
		background: #971e1e;
		padding: 10px 0;
		border-bottom: 3px solid #fff;
		border-top: 3px solid #fff;
		color: #fff;
	}
}